@font-face {
  font-family: 'Rubik';
  src: url('/Assets/Fonts/Rubik-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #BABABA;
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* src/styles.css or index.css */

.zt-main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.zt-main-holder {
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.zt-mb {
  margin-bottom: 48px;
}

.zt-mb-24 {
  margin-bottom: 24px;
}

.zt-bg {
  background-image: url(Assets/Images/Background_Image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.zt-no-bg {
  background: none;
}

.zt-sc-holder {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 96px;
  gap: 24px;
}

.zt-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zt-items-spread {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.zt-item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.zt-reason-wrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
}

.zt-add-reason-row {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}

.zt-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 64px;
}

.zt-main-tile-1 {
  background-color: #212121;
  border: 1px solid #BABABA;
  border-radius: 10px;
  padding: 24px;
  color: #BABABA;
  display: flex;
  flex-direction: column;
  width: 406px;
  height: 502px;
  max-width: 500px;
}

.zt-main-tile-2 {
  background-color: #212121;
  border: 1px solid #BABABA;
  border-radius: 10px;
  padding: 24px;
  color: #BABABA;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 502px;
}

.zt-main-tile-3 {
  background-color: #212121;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  color: #BABABA;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.zt-tile-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.zt-tile-sec-1 {
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.zt-tile-sec-2 {
  border-top: .5px solid #BABABA;
  width: 100%;
  height: 100%;
  padding-top: 24px;
}

.zt-item-wrapper {
  display: flex;
  width: 100%;
  height: 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.zt-item-aligner-right {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.zt-item-aligner-left {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}